@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  padding-top: 10px;
  font-family: Roboto, cursive;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 98vh;
  max-height: fit-content;
  margin-block: 0;
}

.addTaskDiv {
  width: 85%;
  padding: 10px 15px;
  border-radius: 19px;
}
.addTaskDiv:hover,
.menuImg:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.tasksImg {
  background-image: url(https://www.gstatic.com/tasks/zero-state-room-200.png);
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  margin: auto;
  margin-bottom: 24px;
}

.tasksText {
  color: #202124;
  text-align: center;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
}

.tasksTextDesc {
  font-size: 14px;
  line-height: 20px;
  color: #5f6368;
  text-align: center;
}

.NoTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.addContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addContainer input {
  width: 40%;
  padding: 1px 25px;
  border: none;
  outline: none;
  background: #ddd;
  min-height: 40px;
}
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 30px;
}

.taskContainer:hover {
  background-color: #ddd;
}
.taskCheck {
  margin: 5px 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-image: url(https://img.icons8.com/fluency-systems-regular/20/000000/circle.png);
}
.taskCheck:hover {
  background-image: url(./images/tick.png);
}
.taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trashImg {
  margin-right: 30px;
  height: 24px;
}
.Done {
  bottom: 0px;
}
.addTaskContainer {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.menuImg {
  padding: 10px;
  margin-left: 0 10px;
  border-radius: 19px;
}
.addTaskIcon {
  background-size: contain;
  font-size: 24px;
  height: 20px;
  margin: 0 16px 0 8px;
  padding: auto;
  text-align: center;
  width: 20px;
  background-image: url("https://www.gstatic.com/tasks/task-add-accent-light.svg");
}
.addTaskSpan {
  display: flex;
  align-items: center;
  color: #1a73e8;
}

.header {
  color: #80868b;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 32px;
}

.headTitle {
  margin-left: 32px;
  font-weight: 700;
  font-size: 20px;
}
.CompletedContainer {
  position: fixed;
  width: 50%;
  bottom: 0;
  max-height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}


.CompletedTitle {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.CompletedHead {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 0px 42px;
  gap: 30px;
}
.open {
  display: flex;
}
.close{
  display: none;
}
